@using BlogDotNet8.Services.Interfaces
@inject IImageService imageService
@model BlogDotNet8.Models.Blog

@{
    ViewData["Title"] = "Edit";
}


<div class="row justify-content-center">
    <div class="col-12 text-center">
        <h1>Edit</h1>

        <h4>Blog</h4>
        <hr />
    </div>
    <div class="col-12 col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" name="newImage" class="form-control" accept=".jpg,.png,.gif,.jpeg" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-12 col-md-4">
        <div class="img-fluid">
            <label class="text-center">Current Image</label></br>
            <img width="200px" src="@imageService.DecodeImage(Model.ImageData,Model.ContentType)" />
        </div>
    </div>
    <div class= "col-12 text-center mt-3">
        <a asp-action="Index">Back to List</a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
